<div class="project-list-container">
    <img src="/assets/images/portia-logo.svg" alt="Portia logo">

    <h3>数据挖掘 (by Fractal-technology Qinsoft Team)</h3>
    {{create-project-button projects=model}}
    {{#if model}}
        <p>选择一个目标网站</p>

        {{project-list projects=model}}
    {{/if}}
</div>
