<div class="project-list-container">
    <img src="http://www.fractal-technology.com/Uploads/Picture/2016/08/20/s57b87b2c3ac94.png" alt="logo" width="300"/>

    {{create-project-button projects=model}}
    {{#if model}}
        <p>从下面选择一个目标网站</p>

        {{project-list projects=model}}
    {{/if}}
</div>
